<h1>Confirmation</h1>

<p>
  Full name: <%= @user.full_name %>
  Street address: <%= @user.address %>
  City: <%= @user.city %>
  State: <%= @user.state %>
  Postal code: <%= @user.zip_code %>
  Country: <%= @user.country %>
  Email address: <%= @user.email %>
  User ID: <%= @user.user_id %>
  Password: <%= @user.password %>
</p>
