<h1>Confirmation</h1>

<h4>User Information</h4>
<p>
  Full name: <%= @user.full_name %></br>
  Street address: <%= @user.address %></br>
  City: <%= @user.city %></br>
  State: <%= @user.state %></br>
  Postal code: <%= @user.zip_code %></br>
  Country: <%= @user.country %></br>
  Email address: <%= @user.email %></br>
  User ID: <%= @user.user_id %></br>
  Password: <%= @user.password %></br>
</p>


<a href="/users/login"><button>Go to log in</button></a>
